<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <!-- ==================== 控制台输出 ===================== -->
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%date] [%level] [%logger:%line] [%thread] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.example.vertxkt" level="${YOU_CUSTOM_LOG_LEVEL:-DEBUG}"/>
<!--  <logger name="org.apache.kafka" level="WARN"/>-->

  <root>
    <level value="WARN" />
    <appender-ref ref="stdout" />
  </root>

</configuration>
